* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins, ', sans-serif;


}
html{
}
body {
    background-color: #081b29;
    color: #ededed;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;


}

.navbar a:hover,
.navbar .ativo {
    color: #00abf0;


}

.cardconteudo {

    max-width: 600px;

}

.cardconteudo h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;

}

.cardconteudo h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;



}

.cardconteudo p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.cardconteudo .btn-caixa {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-caixa a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    transition: .5s;
}

.btn-caixa a:hover {
    color: #00abf0;
}

.btn-caixa a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-caixa a:hover::before {
    width: 100%;
}

#conversa {
    background: transparent;
    color: #00abf0;
    padding: 15px;
}

#conversa::before {
    background-color: #00abf0;


}

.imgperfil {
    position: relative;
    width: 40vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    padding: 8px;
    border: 3px solid #00abf0;
    border-radius: 50% 50%;
    margin-right: 12vh;
    box-shadow: 0px 8px 16px #00abf0;
}

.imgperfil img {
    width: 37vh;
    position: relative;
    height: 37vh;
    top: 0;
    right: 0;
    border-radius: 50% 50%;
}

#conversa:hover {
    color: #081b29;
}

.casa {
    display: flex;
    
    align-items: center;
    height: 100vh;
    padding: 0 10%;

}


@media (max-width:970px) {
    .casa {
        
        position: relative;
    top: 20vh;
    flex-direction: column;
    }
    .imgperfil{
        margin-left: 18%;
    }
    .btn-caixa{
        margin-bottom: 18%;
    }
}
